*,
*::before,
*::after,
html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
a {
    text-decoration: none;
    color: #ffffff;
}
a:hover {
    color: #00ff00;
}

ul {
    display: flex;
    list-style: none;
}
.r3f {
    touch-action: none;
}
.htmlScreen iframe {
    width: 1080px;
    height: 720px;
    border: none;
    border-radius: 20px;
    background: #000000;
}
